section {
  @include adaptiveValue("padding-top", 60, 10);
  @include adaptiveValue("padding-bottom", 60, 10);
}
.text {
  font-weight: 500;
  font-size: rem(20);
  line-height: math.div(30, 20);
  letter-spacing: 0.2px;
  color: $mainColorText;
}
.title {
  font-weight: 700;
  @include adaptiveValue("font-size", 40, 24);
  line-height: math.div(57, 40);
  letter-spacing: 0.2px;
  color: $mainColor;
}
.subtitle {
  font-weight: 500;
  line-height: math.div(20, 14);
  margin: 0 auto;
  letter-spacing: 0.2px;
  color: $mainColorText;
}
.icon {
  position: relative;
  display: flex;
  width: rem(48);
  height: rem(48);
  & svg {
    position: absolute;
    display: block;
    width: 95%;
    height: 100%;
    top: rem(-2);
    left: 0;
    fill: #0d5c63;
    object-fit: contain;
  }
}
