//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  background: $mainOrangeColor;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: 3px;
  padding: rem(9) rem(55);
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: rem(18);
  line-height: math.div(30, 18);
  transition: box-shadow 0.3s ease 0s;
  &_border {
    color: $mainOrangeColor;
    background-color: #fff;
    border: 1px solid $mainOrangeColor;
    box-shadow: none;
  }
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(232, 170, 49, 1);
    }
  }
  &_black {
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    padding: rem(9) rem(45);
    display: inline-block;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(32, 20);
    transition: box-shadow 0.3s ease 0s;
  }
}
