.article-module {
  // .article-module__title

  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: rem(30);
    line-height: math.div(46, 30);
    letter-spacing: 0.05em;
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }
  // .article-module__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    gap: rem(30);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  // .article-module__top
}
.item-article {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    }
  }
  // .item-article__body

  &__body {
    flex: 1 1 auto;
    flex-direction: column;
    padding: rem(20) rem(26);
    @include adaptiveValue("padding", 20, 15);
  }
  // .top-article-module__image

  &__image-ibg {
    @include adaptiveValue("padding-bottom", 200, 376);
  }

  // .item-article__title

  &__title {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: em(8, 20);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .item-article__link-title

  &__link-title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
  }

  // .item-article__date

  &__date {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: rem(16);
    line-height: math.div(34, 16);
    color: #ababab;
  }
}
//========================================================================================================================================================
.products-block {
  // .products__container

  &__container {
    display: grid;
    gap: rem(30);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(600), 1fr));
    }
  }
}
.product-block {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: rem(290);
  overflow: hidden;
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    }
  }
  // product-block__body

  &__body {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding", 30, 20);
  }

  // product-block__link-title

  &__link-title {
    display: inline-block;
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 24);
    &::after {
      content: "";
      width: rem(70);
      height: rem(2);
      background-color: #e8aa31;
      display: flex;
      margin-bottom: rem(30);
      transition: width 0.8s ease 0s;
      margin: rem(15) 0px 0px 0px;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  // product-block__image

  &__image {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    transform: translate(0px, 8%);
    img {
      max-width: 100%;
    }
    @media (min-width: em(710)) {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }
  }

  // .product-block__title

  &__title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 24);
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  // .product-block__text

  &__text {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: rem(18);
    line-height: math.div(27, 18);
    &:not(:last-child) {
      margin-bottom: em(48, 18);
    }
    @media (min-width: em(710)) {
      max-width: rem(263);
    }
  }

  // .product-block__button

  &__button {
    text-align: center;
    padding: rem(2) rem(103);
    font-size: rem(18);
    line-height: math.div(46, 18);
    @media (max-width: em(710)) {
      width: 100%;
    }
  }
}
