.page-inner {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: start;
    }
  }
}
.catalog {
  &__container {
    padding: 0 rem(10);
  }
  // .catalog__body

  &__body {
    display: grid;
    align-items: start;
    gap: rem(30);
    grid-template-columns: repeat(rem(375), 1fr);
    @media (min-width: $tablet) {
      grid-template-columns: rem(375) 1fr;
    }
  }

  // .catalog__control

  &__control {
    display: flex;
    justify-content: flex-end;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .catalog__products

  &__products {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  // .catalog__footer
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
}
.pagging {
  display: flex;
  @include adaptiveValue("gap", 30, 15);
  // .pagging__arrow

  &__arrow {
    color: $mainOrangeColor;
    font-size: rem(11);
    &_left {
      transform: rotate(-180deg);
    }
    &:disabled {
      color: rgba(0, 0, 0, 0.12);
    }
  }

  // .pagging__list

  &__list {
    display: flex;
    align-items: center;
    gap: rem(15);
  }

  // .pagging__link

  &__link {
    width: rem(34);
    height: rem(34);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: rem(18);
    line-height: math.div(32, 18);
    border-radius: 50%;
    padding: 5px;
    &._active {
      background-color: $mainOrangeColor;
      color: #fff;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $mainOrangeColor;
        color: #fff;
      }
    }
  }
}

.filter-catalog {
  // .filter-catalog__title

  &__title {
    width: 100%;
    font-weight: 700;
    font-size: rem(20);
    line-height: math.div(24, 20);
    background-color: $mainDarkColor;
    color: #fff;
    padding: rem(23) rem(30);
  }
}
.price-filter {
  padding: rem(30) rem(30) rem(10) rem(30);
  // .price-filter__title

  &__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(24, 20);
    &::before {
      font-size: rem(7);
      color: $mainOrangeColor;
      transition: transform 0.3s ease 0s;
    }
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    &._spoller-active {
      &::before {
        transition: transform 0.3s ease 0s;
        transform: rotate(180deg);
      }
    }
  }
}
[class*="__inputs"] {
  display: flex;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
  & input {
    width: 50%;
    text-align: center;
    padding: rem(12) rem(0);
    &:not(:last-child) {
      border-right: 1px solid #cbcbcb;
    }
  }
}
[class*="catalog__checkbox"] {
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}

.rating-filter {
  // .rating-filter__body

  &__body {
    padding: rem(30);
  }
}
.checkbox {
  .rating-filter__body & {
    &.checkbox_4 {
      width: 170px;
      overflow: hidden;
    }
    &.checkbox_3 {
      width: 135px;
      overflow: hidden;
    }
    &.checkbox_2 {
      width: 100px;
      overflow: hidden;
    }
    &.checkbox_1 {
      width: 65px;
      overflow: hidden;
    }
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .checkbox__label

  &__label {
    .rating-filter & {
      gap: rem(10);
    }
  }
}
