.experts {
  background-color: #fafbfd;
  // .experts__container

  &__container {
    padding: rem(80) rem(15);
    @media (max-width: $mobile) {
      padding: rem(40) rem(10) rem(20) rem(10);
    }
  }
}
.statistic-experts {
  position: relative;
  max-width: rem(655);
  margin: 0 auto;
  @media (max-width: $mobile) {
    max-width: 85%;
  }
  // .statistic-experts__body
  &__body {
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
  }
  // .statistic-experts__decor
  &__decor {
    position: absolute;
    background: #ec5863;
    border-radius: 30px;
  }

  // .statistic-experts__decor-1

  &__decor-1 {
    width: rem(66);
    height: rem(66);
    border-radius: 16px;
    transform: rotate(-30deg);
    bottom: rem(-20);
    left: rem(-20);
    z-index: 1;
  }

  // .statistic-experts__decor-2

  &__decor-2 {
    width: rem(96);
    height: rem(96);
    border-radius: 30px;
    transform: rotate(105deg);
    top: rem(-40);
    right: 50%;
  }

  // .statistic-experts__decor-3

  &__decor-3 {
    width: rem(127);
    height: rem(127);
    border-radius: 30px;
    transform: rotate(-30deg);
    right: rem(-50);
    top: rem(0);
  }
}
.body-statistic-experts {
  display: flex;
  padding: rem(28) rem(80);
  margin: 0px 0px rem(80) 0px;
  @media (max-width: $mobile) {
    padding: rem(30) rem(0);
    flex-direction: column;
  }
  @media (max-width: $mobileSmall) {
    padding: rem(15) rem(0);
  }
  // .body-statistic-experts__item

  &__item {
    flex: 1 1 25%;
    text-align: center;
    @media (max-width: $mobile) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
    &:last-child {
      flex: 1 1 50%;
    }
  }

  // .body-statistic-experts__value

  &__value {
    font-style: normal;
    font-weight: 700;
    font-size: rem(36);
    line-height: math.div(43, 36);
    letter-spacing: rem(5);
    color: #ec5863;
    margin: 0px 0px rem(5) 0px;
  }

  // .body-statistic-experts__text

  &__text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: rem(11);
    line-height: math.div(13, 11);
    text-align: center;
    letter-spacing: rem(4);
    text-transform: uppercase;
    color: #000000;
  }
}

.body-experts-media {
  display: flex;
  align-items: center;
  @media (max-width: $mobile) {
    align-items: stretch;
    flex-direction: column;
  }
  // .body-experts-media__content

  &__content {
    flex: 0 1 50%;
    padding: rem(0) rem(20) 0px rem(40);
    @media (max-width: $mobile) {
      flex: 0 1 100%;
      margin: 0px 0px rem(30) 0px;
      padding: 0;
    }
  }
  // .body-experts-media__text
  &__text {
    max-width: rem(400);
  }
  // .body-experts-media__title

  &__title {
    max-width: rem(400);
    & span {
      color: #587eec;
    }
  }

  // .body-experts-media__video
  &__video {
    flex: 0 1 50%;
    padding: 0px 0px 25% 0px;
    position: relative;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: $mobile) {
      padding: 0px 0px 55% 0px;
    }
    & iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
