//====================================================================================================
.footer {
  // .footer__top

  &__top {
    background-color: #17213c;
    color: #fff;
    padding: rem(50) rem(0);
    @media (max-width: $mobile) {
      padding: rem(30) rem(0);
    }
  }

  // .footer__body

  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: rem(860)) {
      flex-direction: column;
      padding: rem(0) rem(0) rem(0) rem(30);
    }
  }

  // .footer__row

  &__row {
  }
}
.row-footer {
  // .row-footer__button

  &__button {
    position: relative;
    font-weight: 700;
    font-size: rem(16);
    line-height: math.div(24, 16);
    letter-spacing: 0.1px;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    &::before {
      display: none;
      @media (max-width: em(860)) {
        display: block;
        top: rem(5);
        right: rem(-20);
        font-size: rem(12);
        position: absolute;
        transform: rotate(90deg);
        transition: all 0.3s ease 0s;
        z-index: 5;
      }
    }
    // .row-footer__button spoller-active
    &._spoller-active {
      transition: all 0.3s ease 0s;
      color: #ff7b47;
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
  // .row-footer__list
  &__list {
    margin-bottom: rem(10);
  }
  // .row-footer__item

  &__item {
    font-weight: 600;
    line-height: math.div(24, 14);
    letter-spacing: 0.2px;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.row-footer {
  // .row-footer_contact

  &_contact {
    @media (max-width: rem(860)) {
      padding: rem(0) rem(20) rem(0) rem(0);
    }
  }
}
.row-footer_contact {
  // .row-footer_contact__item

  &__item {
    display: flex;
    align-items: flex-start;
    max-width: rem(260);
    &:not(:last-child) {
      margin-bottom: rem(13);
    }
    &::before {
      font-size: rem(24);
      color: #8ec2f2;
      margin-right: rem(20);
      margin-top: rem(5);
    }
  }

  // .row-footer_contact__link

  &__link {
    font-weight: 600;
    line-height: math.div(24, 14);
    letter-spacing: 0.2px;
  }
}

//====================================================================================================

.bottom-footer {
  background-color: #fafafa;
  // .bottom-footer__container

  &__container {
    display: flex;
    align-items: center;
    padding: rem(25) rem(15);
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(10);
      align-items: start;
    }
  }

  // .bottom-footer__text

  &__text {
    flex: 0 1 50%;
    font-weight: 600;
    line-height: math.div(24, 14);
    letter-spacing: 0.2px;
    color: $mainColorText;
  }

  // .bottom-footer__icons

  &__icons {
    display: flex;
    flex: 0 1 50%;
    justify-content: flex-end;
    align-items: center;
    gap: rem(20);
  }
}
