//====================================================================================================
.footer {
   // .footer__container
   &__items {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(57);
      row-gap: rem(20);
      padding: rem(40);
      @media (max-width: $mobile) {
         flex-direction: column;
         padding: rem(10);
      }
   }
}

//====================================================================================================
