//====================================================================================================
.header {
  position: relative;
  background-color: #fafbfd;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  min-height: rem(70);
  @include adaptiveValue("min-height", 100, 70, 1300, 700, 2);
  padding: rem(30) rem(0);
  @media (any-hover: hover) {
    &:hover {
      &::before {
        content: "";
        transition: all 0.3s ease 0s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: #fff;
      }
    }
  }
  @media (max-width: $tablet) {
    padding: rem(25) rem(0);
    min-height: rem(70);
  }
  @media (max-width: $mobile) {
    padding: rem(15) rem(0);
    min-height: rem(70);
  }
  // .header__container

  &__container {
    padding: 0px 15px;
    position: relative;
    display: flex;
    align-items: center;
  }

  // .header__logo

  &__logo {
    z-index: 8;
    @media (max-width: $mobileSmall) {
      max-width: rem(40);
      overflow: hidden;
    }
  }
  // .header__button
  &__button {
    @include adaptiveValue("width", 252, 170, 900, 320, 2);
    display: flex;
    justify-content: flex-end;
    z-index: 8;
    position: relative;
    @media (max-width: $mobile) {
      flex: 1 1 33.333%;
    }
  }
  &__menu-icon {
    display: none;
    @media (max-width: $mobile) {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      flex: 0 1 33.333%;
    }
  }
}
.button {
  padding: rem(14) rem(32);
  color: #fcfdfe;
  border-radius: rem(5);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  letter-spacing: rem(1);
  text-transform: uppercase;
  background-color: #ec5863;
  display: inline-block;
  @media (any-hover: hover) {
    &:hover {
      background-color: #ec5346;
      transition: background-color 0.3s ease 0s;
    }
  }
  // .button_blue
  &_blue {
    background-color: #4285f4;
    @media (any-hover: hover) {
      &:hover {
        background-color: #4285a4;
        transition: background-color 0.3s ease 0s;
      }
    }
  }
}
.menu {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  @media (max-width: $mobile) {
    justify-content: center;
  }
  // menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      padding: rem(70) rem(20);
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease 0s;
      z-index: 5;
      .menu-open & {
        background-color: #fff;
        left: 0;
        overflow: auto;
      }
    }
  }
  // .menu__list

  &__list {
    display: flex;
    @include adaptiveValue("gap", 40, 20, 900, 767, 2);
    @include adaptiveValue("margin-right", 40, 20, 900, 650, 2);
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: rem(10);
    line-height: math.div(12, 10);
    letter-spacing: 0.14em;
    text-align: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: rem(30);
      font-size: rem(20);
    }
  }

  // .menu__item

  &__item {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $mobile) {
      min-width: 100%;
    }
  }
}
//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 6;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
    }
    &::before {
      top: 0px;
    }
    &::after {
      bottom: 0px;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
