//====================================================================================================
.header {
  overflow: none;
  &__top {
    background: $mainDarkColor;
    color: #fff;
  }
}
//====================================================================================================================================================

.top-header {
  padding: 10px 0;
  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: rem(40);
    @media (max-width: $tablet) {
      gap: 30px;
    }
  }
  &__menu {
    display: flex;
    flex: 1 1 auto;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__user {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: rem(16);
    line-height: math.div(18, 16);
    z-index: 5;
    &::before {
      font-size: rem(24);
      margin-right: em(15, 28);
      position: relative;
    }
    @media (any-hover: hover) {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
    @media (max-width: $mobile) {
      span {
        display: none;
      }
    }
  }
}
//====================================================================================================================================================
.menu-top-header {
  //menu-top-header__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    @include adaptiveValue("gap", 60, 20);
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: 15px;
    }
  }
  &__item {
    &_catalog {
      @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
      height: rem(30);
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }
  //menu-top-header__link
  &__link {
    font-size: rem(16);
    line-height: math.div(18, 16);
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("font-size", 26, 24, 992, 320, 1);
    }
    &_catalog {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      &::before {
        display: flex;
        flex: 0 0 14px;
        height: 14px;
        font-size: rem(12);
        justify-content: center;
        align-items: center;
        transform: translatey(rem(4));
      }
      @media (max-width: $tablet) {
        @include adaptiveValue("font-size", 30, 26, 992, 320, 1);
      }
    }
  }
  @media (max-width: $tablet) {
    display: none;
  }
}
//====================================================================================================================================================

.menu {
  @media (max-width: $tablet) {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  &__body {
    @media (max-width: $tablet) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      background-color: $mainDarkColor;
      padding: rem(100) rem(15) rem(50) rem(15);
      transition: all 0.3s ease 0s;
      z-index: 4;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        left: -100%;
        background-color: $mainDarkColor;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }
}
//====================================================================================================================================================

.body-header {
  padding: rem(10) 0;
  background-color: #ecf1f2;
  // .body-header__container

  &__container {
    display: flex;
    align-items: center;
    min-height: rem(70);
  }

  // .body-header__logo

  &__logo {
    @extend %ic;
    @extend ._icon-logo;
    font-size: rem(42);
    color: $mainDarkColor;
    @media (max-width: $mobileSmall) {
      font-size: rem(55);
    }
  }

  // .body-header__search
  &__search {
    flex: 1 1 auto;
    padding-right: rem(20);
    @include adaptiveValue("padding-left", 158, 20, 1620, 1250, 1);
    @media (max-width: $tablet) {
      padding-right: 0;
    }
    @media (max-width: $mobileSmall) {
      background-color: #ecf1f2;
      padding: 0px 0px 0px 0;
      border-radius: 3px;
    }
  }
}

.search-header {
  max-width: rem(377s);
  position: relative;
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.5);
  // .search-header__button

  &__button {
    position: absolute;
    background-color: transparent;
    width: rem(41);
    height: rem(41);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px rem(20);
    top: 0;
    left: 0;
    color: $mainColor;
  }

  // .search-header__input

  &__input {
    width: 100%;
    height: rem(41);
    padding: 0px rem(20) 0px rem(50);
    border-radius: 3px;
    color: $mainColor;
    background-color: transparent;
    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

//====================================================================================================
.action-header {
  display: flex;
  align-items: center;
  column-gap: rem(30);
  @include adaptiveValue("column-gap", 30, 20, 1620, 1000, 1);
  // .action-header__location

  &__location {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    line-height: rem(22);
    @include adaptiveValue("margin-right", 25, 0, 1620, 1400, 1);
    &::before {
      font-size: rem(24);
      margin: 0px em(10, 24) 0px 0px;
      text-decoration: none;
    }
    @media (any-hover: hover) {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .action-header__favorite

  &__favorite {
    font-size: rem(24);
    position: relative;
    z-index: 5;
  }

  // .action-header__basket

  &__basket {
    flex: 0 1 24px;
    position: relative;
    z-index: 5;
  }
}

.phones-header {
  // .phones-header__item

  &__item {
    position: relative;
    display: flex;
  }

  // .phones-header__phone

  &__phone {
    font-weight: 600;
    line-height: math.div(22, 18);
    white-space: nowrap;
    z-index: 5;
    @media (max-width: $mobileSmall) {
      span {
        display: none;
      }
    }
    &::before {
      display: none;
      @media (max-width: $mobileSmall) {
        font-size: rem(24);
        display: block;
        position: relative;
        //z-index: 5;
      }
    }
  }

  // .phones-header__arrow

  &__arrow {
    color: $mainOrangeColor;
    font-size: rem(12);
    height: 18px;
    line-height: math.div(22, 18);
    margin-left: em(17, 16);
    transition: transform 0.3s ease 0s;
    &._spoller-active {
      transform: rotate(-180deg);
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .phones-header__list

  &__list {
    position: absolute;
    z-index: 6;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #fff;
    padding: rem(15);
    margin: em(5) 0px 0px 0px;
    border-radius: rem(10);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    li {
      &:not(:last-child) {
        margin-bottom: em(8, 18);
      }
    }
  }
  &__callback {
    line-height: math.div(22, 18);
    font-weight: 700;
    color: $mainOrangeColor;
    margin: em(3) 0px 0px 0px;
    position: relative;
    z-index: 5;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }
}
.basket-header {
  display: flex;
  align-items: center;
  column-gap: rem(20);

  // .basket-header__icon
  &__icon {
    flex: 1 1 37px;
    font-size: rem(24);
    position: relative;
    span {
      padding: 3px;
      position: absolute;
      font-size: rem(10);
      font-weight: 700;
      width: rem(14);
      height: rem(14);
      background-color: $mainOrangeColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      top: -2px;
      right: -5px;
    }
  }

  // .basket-header__body

  &__body {
    flex: 1 1 auto;
    font-size: rem(16);
    line-height: math.div(20, 16);
    min-width: 100%;
    @media (max-width: em(1250)) {
      display: none;
    }
  }

  // .basket-header__summ

  &__summ {
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: em(5, 16);
    }
  }
  // .basket-header__link

  &__link {
    color: $mainOrangeColor;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
//===================================================================================================================================================
.catalog-header {
  background: $mainDarkColor;
  color: #fff;
  position: relative;
  @media (max-width: $mobileSmall) {
    padding: rem(15) rem(0);
  }
  // .catalog-header__menu

  &__menu {
    position: relative;
    z-index: 2;
  }
}
.menu-catalog {
  // .menu-catalog__list

  &__list {
    display: flex;
    gap: rem(10);
    padding: rem(0) rem(10) rem(0) rem(10);
    justify-content: space-between;
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      @include adaptiveValue("font-size", 18, 14, 992, 320, 1);
    }
  }

  // .menu-catalog__link

  &__link {
    display: flex;
    position: relative;
    transition: color 0.3s ease 0s;
    &[data-parent] {
      &::before {
        @extend %ic;
        @extend ._icon-arrow-bottom;
        display: none;
        @media (max-width: $tablet) {
          transform: rotate(-90deg);
          display: block;
          font-size: rem(10);
          margin: 0px 0px 0px rem(10);
        }
      }
      @media (max-width: $tablet) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
    @media (min-width: $tablet) {
      min-height: rem(70);
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $mainOrangeColor;
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media (max-width: $tablet) {
      &._sub-menu-active {
        color: $mainOrangeColor;
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  // .menu-catalog__sub-menu

  &__sub-menu {
    width: 100%;
    left: 0;
    top: 100%;
    background-color: $mainDarkColor;
  }
  &__back {
    position: relative;
    display: flex;
    align-items: center;
    @include adaptiveValue("font-size", 24, 20, 767, 320, 1);
    &:not(:last-child) {
      margin-bottom: em(35, 30);
    }
    &::before {
      margin: 0px rem(13) 0px 0px;
    }
    @media (min-width: $tablet) {
      display: none;
    }
  }
  @media (max-width: $tablet) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: $mainDarkColor;
    padding: rem(40) rem(15) rem(50) rem(15);
    @include adaptiveValue("font-size", 30, 24, 767, 320, 1);
    transition: all 0.4s ease 0s;
    .catalog-open & {
      left: 0;
      z-index: 5;
    }
  }
}

.sub-menu-catalog {
  // .sub-menu-catalog__back

  &__container {
    padding: 0 rem(10);
  }
  // .sub-menu-catalog__block

  &__block {
    display: none;
    @for $var from 1 to 6 {
      &_#{$var} {
        grid-template-columns: repeat($var, auto);
      }
    }

    &._sub-menu-open {
      display: grid;
    }
    @media (max-width: $tablet) {
      position: fixed;
      z-index: 6;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      background-color: $mainDarkColor;
      padding: rem(85) rem(15) rem(50) rem(25);
      &._sub-menu-open {
        left: 0;
        display: block;
      }
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        background-color: $mainDarkColor;
      }
    }
  }
  &__back {
    display: flex;
    position: absolute;
    top: rem(41);
    left: -100%;
    display: inline-flex;
    align-items: center;
    z-index: 7;
    @include adaptiveValue("font-size", 24, 20, 767, 320, 1);

    .sub-menu-open & {
      left: 15px;
    }
    &::before {
      margin: 0px rem(13) 0px 0px;
    }
    @media (min-width: $tablet) {
      display: none;
    }
  }
  // .sub-menu-catalog__category

  &__category {
    display: flex;
    font-weight: 700;
    padding: rem(10) rem(15) rem(10) 0;
    @media (max-width: $tablet) {
      font-weight: 500;
      padding: rem(10) rem(15) rem(20) 0;
      line-height: rem(14);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .sub-menu-catalog__link

  &__link {
    line-height: math.div(16, 14);
    &-category {
      @include adaptiveValue("font-size", 16, 14, 767, 320, 1);
      justify-content: flex-start;
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .sub-menu-catalog__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: rem(20) rem(15) rem(20) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .sub-menu-catalog__footer
  &__footer {
    padding: rem(30) rem(15) rem(30) 0;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  // .sub-menu-catalog__all

  &__all {
    font-size: rem(16);
    font-weight: 500;
    color: $mainOrangeColor;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//========================================================================================================================================================

//Burger

.icon-menu {
  @media (max-width: $tablet) {
    display: flex;
    position: relative;
    flex: 0 0 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 6;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    &::before {
      top: 0px;
    }
    &::after {
      bottom: 0px;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
