.dashboard {
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
  @include adaptiveValue("padding-left", 30, 10, 1440, 1100, 1);
  padding-right: rem(10);
  padding-top: rem(10);
  background-color: $white;
  z-index: 50;
  @media (max-width: $tablet) {
    position: absolute;
    transition: all 0.5s ease 0s;
    left: -120%;
    width: rem(320);

    .menu-open & {
      left: 0;
    }
  }
  // .dashboard-header

  &-header {
    display: flex;
    align-items: center;
    padding: rem(10) rem(0);
    // .dashboard-header__icon

    &__icon {
      font-size: rem(30);
      @media (max-width: $tablet) {
        font-size: rem(24);
      }
    }

    // .dashboard-header__title

    &__title {
      font-size: rem(26);
      font-weight: 600;
      line-height: math.div(39, 26);
      letter-spacing: 0.01em;
      padding: 0px 0px 0px rem(12);
      @media (max-width: $tablet) {
        font-size: rem(18);
      }
      & span {
        font-size: rem(10);
        line-height: math.div(15, 10);
        font-weight: 500;
        color: #838383;
        padding-left: rem(4);
      }
    }
  }

  // .dashboard-menu

  &-menu {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    // .dashboard-menu__item

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      transition: all 0.3s ease 0s;
      border-radius: rem(8);
      padding: rem(13) rem(5) rem(13) rem(5);
      cursor: pointer;
      &::before {
        transition: all 0.3s ease 0s;
        font-size: rem(24);
        color: #9197b3;
      }
      @media (any-hover: hover) {
        &:hover {
          background-color: $hover;
          color: $white;
          transition: all 0.3s ease 0s;
          &.dashboard-menu__item::before,
          .dashboard-menu__link::before {
            transition: all 0.3s ease 0s;
            color: $white;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }

    // .dashboard-menu__link

    &__link {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: rem(14);
      line-height: math.div(21, 14);
      padding-left: rem(16);
      &::before {
        position: absolute;
        right: 0;
        font-size: rem(16);
        color: #9197b3;
      }
    }
  }
  // .dashboard-footer
  &-footer {
    display: flex;
    align-items: center;
    max-height: rem(100);
    padding: rem(20) 0;
    gap: rem(12);

    // .dashboard-footer__image-ibg

    &__image {
      position: relative;
      width: rem(42);
      height: rem(42);
      border-radius: 50%;
      overflow: hidden;
      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    // .dashboard-footer__name

    &__name {
      line-height: math.div(21, 14);
      font-weight: 500;
    }

    // .dashboard-footer__job

    &__job {
      font-size: rem(12);
      line-height: math.div(18, 12);
      font-weight: 400;
      color: #757575;
    }
  }
}
//========================================================================================================================================================
.content {
  // .content__hello
  &__hello {
    display: flex;
    @include adaptiveValue("font-size", 26, 18, 1440, 1100, 1);
    line-height: math.div(36, 24);
    font-weight: 500;
    @media (max-width: $mobile) {
      justify-content: space-between;
    }
    &:not(:last-child) {
      margin-bottom: em(30);
      @media (max-width: em(1100)) {
        margin-bottom: em(15);
      }
    }
  }
  // .content__container

  &__container {
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: rem(30);
    @include adaptiveValue("padding-top", 30, 10);
    @include adaptiveValue("padding-bottom", 20, 10);
    @include adaptiveValue("padding-right", 40, 10);
    @include adaptiveValue("padding-left", 40, 10);
    @media (max-width: $tablet) {
      width: 100%;
    }
    @media (max-width: $mobileSmall) {
      border-radius: rem(20);
    }
  }
  // .content-header

  &-header {
    padding: rem(10) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    line-height: math.div(30, 14);
    color: #b5b7c0;
    //  .content-header__searchs

    &__searchs {
      display: flex;
      align-items: center;
      background-color: $bodyColor;
      border-radius: rem(10);
      width: rem(216);
      padding-left: rem(10);
    }
    //  .content-headert__btn
    &__btn {
      color: #7e7e7e;
      font-size: rem(24);
      @media (max-width: $mobileSmall) {
        font-size: rem(20);
      }
    }
    //  .content-header__search
    &__search {
      background-color: $bodyColor;
      height: rem(40);
      padding-left: rem(10);
      outline: none;
      font-weight: 400;
      font-size: rem(12);
      opacity: 0.5;
      @media (max-width: $mobileSmall) {
        height: rem(30);
      }
    }
  }

  // .content-info
  &-info {
    @include adaptiveValue("padding-right", 40, 10, 1440, 1100, 1);
    @include adaptiveValue("padding-left", 40, 10, 1440, 1100, 1);
    padding-top: rem(20);
    position: relative;
    border: 1px solid red;
    @media (max-width: $mobile) {
      border: 1px solid green;
    }

    // .content-info__table

    &__table {
      width: 100%;
    }
    // .content-info__header
    &__header {
      text-align: left;
    }
    // .content-info__info
    &__info {
      font-style: normal;
      font-weight: 500;
      line-height: math.div(21, 14);
      letter-spacing: -0.01em;
      color: #b5b7c0;
      display: grid;
      grid-template-columns: 1.8fr 1.2fr 1.5fr 2fr 1.5fr 1fr;
      gap: rem(5);
    }
    // .content-info__person
    &__person {
      font-weight: 500;
      line-height: math.div(30, 14);
      color: #292d32;
      position: relative;
      display: grid;
      grid-template-columns: 1.8fr 1.2fr 1.5fr 2fr 1.5fr 1fr;
      gap: rem(5);
      max-width: 100%;
      & td {
        padding-right: rem(2);
        border-right: $line;
      }
      //  .content-info__person line
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: $line;
      }
    }
  }
}
#name {
}

.navigation-persons {
  padding: rem(20) rem(10) rem(10) 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobileSmall) {
    padding: rem(10) 0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  // .navigation-persons__length
  &__length {
    font-weight: 500;
    line-height: math.div(21, 14);
    color: #b5b7c0;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}
.navigation-length {
  font-weight: 500;
  font-size: rem(12);
  line-height: math.div(12, 12);
  color: #404b52;
}
.panell-navigate {
  display: flex;
  gap: rem(12);
  // .panell-navigate__numbers
  &__numbers {
    display: flex;
    gap: rem(12);
  }
  // .panell-navigate__arrow

  &__arrow {
    &:before {
      color: #404b52;
      font-size: rem(12);
    }
  }
}
.squere {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 24px;
  background: #f5f5f5;
  border: 1px solid $line;
  border-radius: 4px;
  padding: 5px;
  &.active {
    background: $hover;
    color: $white;
  }
}
