//====================================================================================================

.main-block {
   background: url("@img/main-block/bg.png") center / cover no-repeat;

   // .main-block__body

   &__body {
      display: grid;
      align-items: flex-start;
      row-gap: rem(40);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 42, 30);
      }
      @media (min-width: $tablet) {
         grid-template-columns: 1fr percent(635, 1600);
      }
   }

   // .main-block__slider

   &__slider {
      margin: 0px rem(-30);
      padding: 0px rem(30);
      @media (max-width: $tablet) {
      }
   }

   // .main-block__swiper

   &__swiper {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
}
.controll-main-block {
   display: inline-grid;
   grid-auto-flow: column;
   align-items: center;
   gap: rem(20);
   // .controll-main-block__dotts

   &__dotts {
      .swiper-pagination-bullet {
         &::after {
            background-color: #fff;
         }
      }
      .swiper-pagination-bullet-active {
         &::after {
            background-color: $mainOrangeColor;
         }
      }
   }
}
.fraction-controll {
   display: flex;
   color: #fff;
   align-items: flex-end;
   font-weight: 600;
   font-size: rem(18);
   letter-spacing: 0.2em;
   // .fraction-controll__current

   &__current {
      color: $mainOrangeColor;
      font-size: rem(24);
   }
}

.slide-main-block {
   // .slide-main-block__content

   &__content {
      color: #ffffff;
      @media (min-width: $tablet) {
         padding: 0px rem(40) 0px 0px;
      }
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 60, 30);
      }
   }

   // .slide-main-block__title

   &__title {
      font-weight: 700;
      line-height: math.div(46, 36);
      letter-spacing: 0.03em;
      @include adaptiveValue("font-size", 36, 22, 992, 320, 1);
      &:not(:last-child) {
         margin-bottom: em(15, 36);
      }
   }

   // .slide-main-block__subtitle

   &__sub-title {
      line-height: math.div(46, 36);
      letter-spacing: 0.03em;
      @include adaptiveValue("font-size", 36, 22, 992, 320, 1);
      &:not(:last-child) {
         margin-bottom: em(30, 36);
      }
   }

   // .slide-main-block__text

   &__text {
      @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
      line-height: math.div(30, 20);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.7);
   }

   // .slide-main-block__button

   &__button {
      @media (max-width: $mobileSmall) {
         width: 100%;
         text-align: center;
      }
   }
}

.media-main-block {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: rem(15);

   // .media-main-block__body

   &__body {
      position: relative;
   }

   // .media-main-block__image

   &__image {
      &::before {
         content: "";
         border: 2px solid rgba(255, 255, 255, 0.5);
         width: percent(423, 449);
         padding-bottom: percent(423, 449);
         border-radius: 50%;
         position: absolute;
         bottom: 3%;
         right: 0;
         transform: translate(percent(131, 423), 0px);
      }
      img {
         max-width: 100%;
         position: relative;
         z-index: 2;
      }
   }

   // .media-main-block__tips

   &__tips {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
   }

   // .media-main-block__tip

   &__tip {
      position: absolute;
      width: rem(20);
      height: rem(20);
      cursor: pointer;
      transition: transform 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            transform: rotate(-180deg);
         }
      }
      &::before,
      &::after {
         content: "";
         border-radius: 50%;
         background-color: $mainOrangeColor;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      &::after {
         opacity: 0.5;
         transform: scale(1.6);
      }
      span {
         position: absolute;
         z-index: 2;
         font-weight: 600;
         font-size: rem(20);
         color: #ffffff;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }

      // .media-main-block__tip_1

      &_1 {
         top: percent(186, 500);
         left: percent(67, 447);
      }

      // .media-main-block__tip_2

      &_2 {
         top: percent(60, 500);
         right: percent(13, 447);
      }

      // .media-main-block__tip_3

      &_3 {
         bottom: percent(110, 500);
         right: percent(15, 447);
      }
   }
}
.advanteges-main {
   display: grid;
   grid-template-columns: repeat(4, auto);
   justify-content: space-between;
   gap: rem(20);
   @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      row-gap: rem(30);
      padding: rem(0) rem(0) rem(20) rem(0);
   }
   @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
   }
   // .advanteges-main__item
   &__item {
      display: inline-grid;
      gap: rem(17);
      text-align: center;
      max-width: rem(290);
      grid-template-rows: rem(77) auto;
   }

   // .advanteges-main__icon

   &__icon {
      align-self: center;
   }

   // .advanteges-main__text

   &__text {
      font-weight: 600;
      font-size: rem(20);
      line-height: math.div(32, 20);
      color: #fff;
   }
}

//====================================================================================================

.catalog-carts {
   // .catalog-carts__container

   &__container {
      display: grid;
      gap: rem(30);
      @media (min-width: $mobileSmall) {
         grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
      }
   }
}
.item-catalog-carts {
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
   position: relative;
   min-height: rem(290);
   overflow: hidden;
   transition: box-shadow 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
      }
   }
   // .item-catalog-carts__body

   &__body {
      position: relative;
      z-index: 2;
      @include adaptiveValue("padding", 30, 20);
   }

   // .item-catalog-carts__title

   &__title {
      &:not(:last-child) {
         margin-bottom: em(30, 24);
      }
   }

   // .item-catalog-carts__link-title

   &__link-title {
      display: inline-block;
      font-weight: 600;
      font-size: rem(24);
      line-height: math.div(34, 24);
      &::after {
         content: "";
         width: rem(70);
         height: rem(2);
         background-color: #e8aa31;
         display: flex;
         margin-bottom: rem(30);
         transition: width 0.8s ease 0s;
         margin: rem(15) 0px 0px 0px;
      }
      @media (any-hover: hover) {
         &:hover {
            &::after {
               width: 100%;
            }
         }
      }
   }

   // .item-catalog-carts__item

   &__item {
      position: relative;
      padding: 0px 0px 0px rem(15);
      &::before {
         content: "";
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background-color: $mainOrangeColor;
         position: absolute;
         top: em(8, 18);
         left: 0;
      }
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   // .item-catalog-carts__link

   &__link {
      font-size: rem(18);
      line-height: math.div(24, 18);
      &:hover {
         text-decoration: underline;
      }
   }

   // .item-catalog-carts__image

   &__image {
      width: 100%;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      transform: translate(0px, 8%);
      img {
         max-width: 100%;
      }
      @media (min-width: $mobileSmall) {
         position: absolute;
         height: 100%;
         top: 0;
         right: 0;
      }
   }
}
//========================================================================================================================================================
