.new-products {
   background: url("@img/new-prodects/image-bg.png") bottom/cover no-repeat;
   // .new-products__container

   &__container {
      display: grid;
      row-gap: rem(30);
      @media (min-width: $tablet) {
         align-items: start;
         grid-template-columns: rem(400) 1fr;
      }
   }

   // .new-products__body

   &__body {
      @include adaptiveValue("padding-right", 70, 20, 1630, 992, 2);
   }
   // .new-products__content

   &__content {
      min-width: 0;
      @media (min-width: $tablet) {
         padding: rem(35) 0px 0px 0px;
      }
   }

   // .card-products-new__swiper

   &__swiper {
      &:not(:last-child) {
         margin-bottom: rem(50);
         @media (max-width: $mobile) {
            margin-bottom: rem(20);
         }
      }
   }
   // .new-products__dotts

   &__dotts {
      //overflow: hidden;
      .swiper-pagination-bullet {
         &::after {
            background-color: #fff;
         }
      }
      .swiper-pagination-bullet-active {
         &::after {
            background-color: $mainOrangeColor;
         }
      }
   }
}
.body-new-products {
   // .body-new-products__title

   &__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: rem(30);
      line-height: math.div(46, 30);
      letter-spacing: 0.05em;
      color: #ffffff;
      &:not(:last-child) {
         margin-bottom: em(30, 30);
      }
   }

   // .body-new-products__text

   &__text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(27, 18);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.7);
      &:not(:last-child) {
         margin-bottom: em(60, 18);
         @include adaptiveValue("margin-bottom", 60, 20);
      }
   }

   // .body-new-products__more

   &__link-arrow {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row-reverse;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: rem(20);
      letter-spacing: 0.05em;
      color: $mainOrangeColor;
      &::before {
         margin: 0px 0px -3px em(20, 20);
         font-size: rem(16);
      }
      @media (any-hover: hover) {
         &:hover {
            span {
               text-decoration: underline;
            }
         }
      }
   }
}
.new-products__inner {
   position: relative;
   padding: rem(45) 0px 0px 0px;
   &::before {
      content: "";
      position: absolute;
      width: percent(1030, 1920);
      height: rem(46);
      top: 0;
      right: 0;
      background-color: #fff;
   }
   & .new-products {
      @include adaptiveValue("padding-top", 20, 10);
   }
}
