.main-product {
   display: grid;
   align-items: start;
   @include adaptiveValue("margin-bottom", 120, 30);

   // .main-product__images
   @media (min-width: $tablet) {
      grid-template-columns: percent(785, 1600) 1fr;
   }
   &__images {
      @media (min-width: $tablet) {
         padding: rem(0) rem(30) rem(0) rem(0);
      }
   }
}
.images-product {
   display: grid;
   gap: rem(5);
   @media (min-width: $mobile) {
      gap: rem(16);
   }
   // .images-product__slide-ibg

   &__slide-ibg {
      cursor: pointer;
      padding-bottom: percent(577, 754);
   }
}
.thumbs-images {
   // .thumbs-images__slide-ibg

   &__slide-ibg {
      cursor: pointer;
      padding-bottom: percent(177, 755);
      opacity: 0.5;
      transition: opacity 0.3s ease 0s;
      &.swiper-slide-thumb-active {
         opacity: 1;
      }
   }
}
.body-product {
   background: #fefefe;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
   @include adaptiveValue("padding", 30, 15);
   // .body-product__header

   &__header {
      border-bottom: 1px solid rgba(20, 20, 20, 0.15);
      @include adaptiveValue("padding-bottom", 25, 15);
   }

   // .body-product__title

   &__title {
      font-weight: 700;
      font-size: rem(24);
      line-height: math.div(29, 24);
      flex: 1 1 auto;
      @media (max-width: $mobileSmall) {
         width: 100%;
      }
   }

   // .body-product__tabble

   &__tabble {
      border-bottom: 1px solid rgba(20, 20, 20, 0.15);
      @include adaptiveValue("padding-top", 25, 10);
      @include adaptiveValue("padding-bottom", 25, 10);
   }

   // .body-product__options

   &__options {
      border-bottom: 1px solid rgba(20, 20, 20, 0.15);
      @include adaptiveValue("padding-top", 25, 10);
      @include adaptiveValue("padding-bottom", 25, 10);
   }

   // .body-product__actions

   &__actions {
      @include adaptiveValue("padding-top", 20, 10);
   }
}
.header-product {
   // .header-product__line

   &__line {
      display: flex;
      align-items: center;
      gap: rem(30);
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
      @media (max-width: $mobile) {
         flex-wrap: wrap;
         gap: rem(10);
      }
   }

   // .header-product__link

   &__link {
      font-size: rem(24);
      @media (any-hover: hover) {
         &:hover {
            color: $mainOrangeColor;
         }
      }
   }
}
.rating {
   // .rating__have

   &__have {
      display: none;
      font-size: rem(16);
      line-height: math.div(20, 16);
      color: #24ad53;
      margin: rem(0) rem(0) rem(0) rem(20);
      &._active {
         display: block;
      }
   }
}
.tabble-product {
   display: grid;
   gap: rem(10);
   @media (min-width: $mobile) {
      grid-template-columns: rem(200) 1fr;
      gap: rem(20);
   }
   // .tabble-product__label

   &__label {
      color: #141414;
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(22, 18);
   }

   // .tabble-product__value

   &__value {
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(22, 18);
      color: rgba(20, 20, 20, 0.5);
   }
}
.options-product {
   display: grid;
   gap: rem(10);
   align-items: center;
   @media (min-width: $mobile) {
      grid-template-columns: rem(200) 1fr;
      row-gap: rem(20);
   }
   // .options-product__label

   &__label {
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(22, 18);
      color: #141414;
   }

   // .options-product__value

   &__value {
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(22, 18);
      color: rgba(20, 20, 20, 0.5);
   }
}
.actions-product {
   // .actions-product__price

   &__price {
      font-weight: 700;
      font-size: rem(30);
      line-height: math.div(37, 30);
      padding: rem(0) rem(30) rem(0) rem(0);
      display: inline-block;
      background: url("@img/icons/rub.svg") no-repeat;
      background-position: right top rem(6);
      &:not(:last-child) {
         @include adaptiveValue(" margin-bottom", 30, 15);
      }
   }

   // .actions-product__row

   &__row {
      display: flex;
      align-items: center;
      gap: rem(20);
      @media (max-width: em(1520)) {
         flex-direction: column;
         align-items: start;
      }
   }

   // .actions-product__buttons

   &__buttons {
      display: flex;
      flex: 1 1 auto;
      flex-wrap: wrap;
      @include adaptiveValue("gap", 30, 20);
      @media (min-width: em(1520)) {
         justify-content: flex-end;
      }
   }

   // .actions-product__cart

   &__cart {
      & span {
         display: flex;
         align-items: center;
         flex-direction: row-reverse;
         justify-content: center;
         &::before {
            margin: rem(0) rem(0) rem(0) rem(15);
         }
      }
      @media (max-width: $mobileSmall) {
         width: 100%;
      }
   }
}
.product-info {
   background: #fefefe;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
   padding: rem(20) rem(20) rem(0) rem(20);
   @media (min-width: $tablet) {
      padding: rem(30);
   }
   // .product-info__navigation

   &__navigation {
      display: flex;
      justify-content: flex-start;
      row-gap: rem(30);
      column-gap: rem(60);
      @media (min-width: $tablet) {
         border-bottom: 1px solid rgba(20, 20, 20, 0.15);
      }
   }

   // .product-info__title

   &__title {
      font-weight: 700;
      font-size: rem(20);
      line-height: math.div(24, 20);
      color: rgba(20, 20, 20, 0.5);
      @include adaptiveValue("padding-bottom", 30, 20);
      //padding: rem(0) rem(0) rem(20) rem(0);
      position: relative;
      ._tab-spoller & {
         width: 100%;
      }
      &._tab-active {
         color: #141414;
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -1px;
            left: 0;
            background-color: $mainOrangeColor;
         }
      }
   }
   // .product-info__body

   &__body {
      padding: rem(30) rem(140) rem(30) rem(0);
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(27, 18);
      color: #141414;
      height: 100%;
      @media (max-width: $tablet) {
         padding: rem(20) rem(0) rem(20) rem(0);
      }
   }
}
